<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/backoffice/">🚀 Rocket Delivery</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/users">👤 Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/addresses">🏠 Addresses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/restaurants">🍔 Restaurants</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/employees">👷 Employees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/customers">🛒 Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/products">📦 Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/order-statuses">📋 Order Statuses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/orders">🧾 Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/product-orders">📝 Product Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/courier-statuses">🚚 Courier Statuses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/backoffice/couriers">🏍️ Couriers</a>
                    </li>
                </ul>
                <form action="/backoffice/logout" method="post" class="d-flex">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn btn-outline-light btn-sm">🔓 Logout</button>
                </form>
            </div>
        </div>
    </nav>
</body>
</html>
